<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Choices</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<link th:href="@{/styles/car_choice.css}" rel="stylesheet" />
</head>
<body>
	<h3>Select A Car to Rent at <span th:text="${reservation.location}"></span></h3>
	<br/>
	<div>
		<form action="#" th:action="@{/cst438.carrentals.com/select}" method="post">
			<table class="center">
				<tr th:each="car : ${cars}">
				<td th:text="${car.cartype?.cartypename}" width="20"></td>
				<td>
					<div>
				 		<p># Passengers</p>
				 		<p th:text="${car.maxpassengers}"></p>
				 	</div>
				</td>
				<td>
					<div class="detail">
						<img th:src="@{|/images/${car.image}|}" width="300" />
						<p th:text="${car.description}" ></p>
					</div>
				</td>
				<td>
					<div class = "price">
						<div class="price_detail" >
							<p>Daily Price</p>
							<p>$<span th:text="${car.dailyprice}"></span></p>
						</div>
						<div class="price_detail">
							<p>Weekly Price</p>
							<p>$<span th:text="${car.weeklyprice}"></span></p>
						</div>
						
					</div>
					<div>
						<button class="btn btn-primary" type=submit name="selection" th:value="${car.carid}" >Select</button>
					</div>
				</td>
				
				<!--
				<td>
					<div>
						<p>Weekly Price</p>
						<p>$<span th:text="${car.weeklyprice}"></span></p>
						
						<button type=submit name="weekly" th:value="${car.carid}" >Select</button>
						
					</div>
				</td>
				-->
				</tr>
			</table>
		</form>
	</div>

</body>
</html>