<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Car Confirm</title>
<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<link th:href="@{/styles/car_choice.css}" rel="stylesheet" />
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">CarRent</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	    <div class="navbar-nav">
	      <a class="nav-item nav-link" href="/">Home <span class="sr-only">(current)</span></a>
	    </div>
	  </div>
	</nav>
	<h3>Review and Confirm Car Reservation</h3>
	<div>
		<form action="#" th:action="@{/confirm}" method="post">
			<table class="center">
				<tr>
					<td>User Name</td>
					<td th:text="${user.name}"></td>
				</tr>
				<tr>
					<td>Pickup Location </td>
					<td th:text="${reservation.location}"></td>
				</tr>
				<tr>
					<td>Start Date </td>
					<td th:text="${reservation.startdate}"></td>
				</tr>
				<tr>
					<td>End Date </td>
					<td th:text="${reservation.enddate}"></td>
				</tr>
				<tr>
					<td>Car Type </td>
					<td th:text="${car.cartype?.cartypename}"></td>
				</tr>
			 	<tr>
			 		<td># Passengers </td>
				 	<td th:text="${car.maxpassengers}"></td>
				 	
				</tr>
				<tr>
					<td>Car Description</td>
					<td th:text="${car.description}" width="300"></td>
					
				</tr>
				<tr>
					<td>Total Price</td>
					<td th:inline="text">$[[${reservation.totalprice}]]</td>
				</tr>		
			</table>
			<div class="confirm_buttons">
				<button class="btn btn-success" type=submit name="confirm" th:value="yes" >Confirm</button>
				<span class="divider"></span>
				<button class="btn btn-danger" type=submit name="confirm" th:value="no" >Cancel</button>
			</div>
		</form>
	</div>

</body>
</html>