<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>CarRent</title>
</head>
<body>
<h2>Reservation</h2>
	<br/>
	<table>
		<tr>
			<th>Reserve ID</th>
			<th>Car ID</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>User ID</th>
			<th>Total Price</th>
			
		</tr>

		<tr th:each="booking : ${bookings}">
			<td th:text="${booking.reserveid}"></td>
			<td th:text="${booking.carid}"></td>
			<td th:text="${booking.startdate}"></td>
			<td th:text="${booking.enddate}"></td>
			<td th:text="${booking.userid}"></td>
			<td th:text="${booking.totalprice}"></td>
		</tr>

	</table>
</body>
</html>